<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base.html :: headerfiles(title=${title})}"> </head>
<header th:replace="~{fragments/base.html :: intestazione}"></header>


<div th:replace="~{fragments/base.html :: breadcrumb(title=${title})}"> </div>

<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->

			<div class="form">
				<div class="login">
					<form th:action="@{/login}" method="POST">
						<label for="username">Username:</label>
						<span><input class="input" name="username" type="text" required /></span>

						<label for="password">Password:</label>
						<span><input class="input" name="password" type="password" required /></span>

						<div>
							<span th:if="${param.error != null}" style="color: red;">Username o password errati</span>
						</div>

						<div class="button-container">
							<a th:href="@{/registrati}"> <button type="button" class="secondary-btn"
									th:text="Registrati">
									Registrati</button></a>
							<button class="primary-btn" type="submit">Login</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>

<footer th:replace="~{fragments/base.html :: footer}"></footer>