<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/base.html :: headerfiles(title=${title})}"> </head>
<header th:replace="~{fragments/base.html :: intestazione}"></header>


<div th:replace="~{fragments/base.html :: breadcrumb(title=${title})}"> </div>

<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div th:if="${prodotto}" class="row">
			<!-- Product main img -->
			<div class="col-md-5">
				<div id="product-main-img">
					<div class="product-preview">
						<img th:src="'/img/' + ${prodotto.nome} + '.png'" alt="">
					</div>
				</div>
			</div>

			<!-- Product details -->
			<div class="col-md-5">
				<div class="product-details">
					<h2 th:text="${prodotto.nome}" class="product-name">Nome prodotto</h2>
					<div>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
						<a class="review-link" th:text="${recensioni.size()} + ' Recensioni'">10 Recensioni </a>
					</div>
					<div>
						<h3 th:text="${prodotto.prezzo} + ' €'" class="product-price">$980.00 <del
								class="product-old-price">$990.00</del></h3>
						<span class="product-available">In Stock</span>
					</div>
					<p th:text="${prodotto.descrizione}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
						do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.</p>

					<div class="add-to-cart">
						<div class="qty-label">
							Qty
							<div class="input-number">
								<input type="number">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div>
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>


					<ul class="product-links">
						<li>Tipologia:</li>
						<li><a th:text="${prodotto.tipologia.nome}"
								th:href="'/prodotti/tipologia/' + ${prodotto.tipologia.id}">Headphones</a></li>
						<li>Produttore:</li>
						<li><a th:text="${prodotto.produttore.nome}"
								th:href="'/prodotti/produttore/' + ${prodotto.produttore.id}">Headphones</a></li>
					</ul>

				</div>
			</div>
			<!-- /Product details -->

			<!-- Product tab -->
			<div class="col-md-12">
				<div id="product-tab">
					<!-- product tab nav -->
					<ul class="tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
						<li><a data-toggle="tab" href="#tab2">Details</a></li>
						<li><a data-toggle="tab" href="#tab3"
								th:text="'Recensioni (' + ${recensioni.size()} + ')'">Reviews (3)</a></li>
					</ul>
					<!-- /product tab nav -->

					<!-- product tab content -->
					<div class="tab-content">
						<!-- tab1  -->
						<div id="tab1" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-12">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
						</div>
						<!-- /tab1  -->

						<!-- tab2  -->
						<div id="tab2" class="tab-pane fade in">
							<div class="row">
								<div class="col-md-12">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
						</div>
						<!-- /tab2  -->

						<!-- tab3  -->
						<div id="tab3" class="tab-pane fade in">
							<div class="row">
								<!-- Rating -->
								<div class="col-md-3">
									<div id="rating">
										<div class="rating-avg">
											<span th:text="${media_recensioni}">4.5</span>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
										</div>
										<ul class="rating">
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-progress">
													<div style="width: 80%;"></div>
												</div>
												<span class="sum">3</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: 60%;"></div>
												</div>
												<span class="sum">2</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Rating -->

								<!-- Reviews -->
								<div class="col-md-6">
									<div id="reviews">
										<p th:if="${recensioni.isEmpty()}"> Non sono presenti recensioni per questo
											prodotto!</p>
										<ul class="reviews" th:unless="${recensioni.isEmpty()}">
											<li th:each="recensione : ${recensioni}">
												<div class="review-heading">
													<h5 class="name"
														th:text="${recensione.utente.nome} + ' ' + ${recensione.utente.cognome}">
														John Doe</h5>
													<p class="date" th:text="${recensione.timestamp}">27 DEC 2018, 8:0
														PM</p>
													<div class="review-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body" th:text="${recensione.descrizione}">
													<p>Bel prodotto carino simpatico fa il suo</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Reviews -->

								<!-- Review Form -->
								<div class="col-md-3">
									<div id="review-form">
										<form class="review-form" th:action="@{'/nuovaRecensione/' + ${prodotto.id}}" method="POST">
											<textarea class="input" placeholder="Your Review" required
												th:field="${nuova_recensione.descrizione}"></textarea>
											<div class="input-rating">
												<span>Valutazione: </span>
												<div class="stars">
													<input id="star5" name="rating" value="5" type="radio"
														th:checked="${nuova_recensione.valutazione == 5}"
														th:field="${nuova_recensione.valutazione}"><label for="star5"></label>
													<input id="star4" name="rating" value="4" type="radio"
														th:checked="${nuova_recensione.valutazione == 4}"
														th:field="${nuova_recensione.valutazione}"><label for="star4"></label>
													<input id="star3" name="rating" value="3" type="radio"
														th:checked="${nuova_recensione.valutazione == 3}"
														th:field="${nuova_recensione.valutazione}"><label for="star3"></label>
													<input id="star2" name="rating" value="2" type="radio"
														th:checked="${nuova_recensione.valutazione == 2}"
														th:field="${nuova_recensione.valutazione}"><label for="star2"></label>
													<input id="star1" name="rating" value="1" type="radio"
														th:checked="${nuova_recensione.valutazione == 1}"
														th:field="${nuova_recensione.valutazione}"><label for="star1"></label>
												</div>
											</div>
											<button class="primary-btn">Submit</button>
										</form>
									</div>
								</div>
								<!-- /Review Form -->
							</div>
						</div>
						<!-- /tab3  -->
					</div>
					<!-- /product tab content  -->
				</div>
			</div>
			<!-- /product tab -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<footer th:replace="~{fragments/base.html :: footer}"></footer>