<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/base.html :: headerfiles(title=${title})}"> </head>
<header th:replace="~{fragments/base.html :: intestazione}"></header>


<div th:replace="~{fragments/base.html :: breadcrumb(title=${title})}"> </div>

<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-10">
				<div class="section-title">
					<h4 class="title" th:text="'Utente ' + ${credenziali.username}"> </h4>
				</div>
				<div id="reviews">
					<p th:if="${recensioni.isEmpty()}"> Non sono presenti recensioni per questo
						prodotto!</p>
					<ul class="reviews" th:unless="${recensioni.isEmpty()}">
						<li th:each="recensione : ${recensioni}">
							<div class="review-heading">
								<a th:href="'/prodotto/' + ${recensione.prodotto.id}">
									<h5 class="name" th:text="${recensione.prodotto.nome}">Nome prodotto</h5>
								</a>

								<p class="date" th:text="${recensione.timestamp}">27 DEC 2018, 8:0
									PM</p>
								<div class="review-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>

							</div>
							<div class="review-body">
								<p th:text="${recensione.descrizione}">Bel prodotto carino simpatico fa il suo</p>
									<button class="secondary-btn" th:href="'/modificaRecensione/' + ${recensione.id}">Modifica</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /row -->

<footer th:replace="~{fragments/base.html :: footer}"></footer>